# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
venv/
env/
.env
*.db
*.sqlite

# Node.js
node_modules/
npm-debug.log*
yarn-error.log*
.expo/
.expo-shared/
build/
*.tgz

# Docker
postgres-data/
.docker/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
